{{#link-to 'message' message.id}}{{message.question}}{{/link-to}}

<li>
  Hi, my name is {{message.author}},<br>
  My question is: {{message.question}}.<br>
  Here is a brief description:{{message.note}}<br>

</li>
{{rate-question message=message upVote="upVote"}}
<hr>
